{% extends "base.html" %}

{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% set current = "archive" %}

{% macro countyear(year) %}
{% set name = namespace(y=0) %}
{% for article in dates %}
{% if article.date | strftime('%Y') == year %}
{% set name.y = name.y + 1 %}
{% endif %}
{% endfor %}
{{name.y}}
{% endmacro %}

{% macro countmonth(month, year) %}
{% set name = namespace(m=0) %}
{% for article in dates %}
{% if article.date | strftime('%B') == month and article.date | strftime('%Y') == year %}
{% set name.m = name.m + 1 %}
{% endif %}
{% endfor %}
{{name.m}}
{% endmacro %}

{% block content %}
<div class="md:mt-14 text-zinc-800 dark:text-zinc-300 pb-6">
    <h1 class="font-bold text-4xl my-10 px-1">Archive</h1>
    <ul class="flex-col">
       
    </ul>
</div>



{% endblock %}